<form class="myForm" name="ajoutPersonne" novalidate>
<div>
    <label>Nom</label>
    <input name="nom" type="text" ng-model="personne.nom" class="form-control" required/>
    <span ng-show="ajoutPersonne.nom.$invalid && submitDone" style="color: red">A remplir</span>
</div>
<div>
    <label>Prénom</label>
    <input name="prenom" type="text" ng-model="personne.prenom" class="form-control" required/>
    <span ng-show="ajoutPersonne.prenom.$invalid && submitDone" style="color: red">A remplir</span>
</div>
<div>
    <label>Téléphone</label>
    <input name="telephone" type="text" ng-model="personne.telephone" pattern="^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$" class="form-control" required/>
    <span ng-show="ajoutPersonne.telephone.$invalid && submitDone" style="color: red">A remplir</span>
    <span ng-show="ajoutPersonne.telephone.$error.pattern && submitDone" style="color: red">Format incorrect</span>
</div>
<div>
    <label>Email</label>
    <input name="email" type="text" ng-model="personne.email" class="form-control" required/>
    <span ng-show="ajoutPersonne.email.$invalid && submitDone" style="color: red">A remplir</span>
</div>
<div>        
    <label>Montant du Crédit</label>
    <select name="montant" class="form-control" ng-options="montant for montant in montants" ng-model="personne.montant"></select>
</div>
<div><br/><input class="btn" type="submit" ng-click="addCredit(personne);" value="Valider"/></div>
</form>